<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email</title>
</head>
<body>
  <div style="width: 90%;margin: auto; background-color: #FDFDFD;">
    <p style="font-size: 15px;font-family:Microsoft Yahei;color:#74787E" > 感谢您注册微知灼识，您的验证码为 </p>
    <div style="width:100px;padding:5px 9px 5px 9px;border-radius:3px;text-align:center;text-decoration:none;background-color:#ecf4fb;color:#4581E9;font-size:20px; font-weight:700; letter-spacing:2px; margin:auto;white-space:nowrap">
      {{ code }}
    </div>
    <p style="font-size: 15px;font-family:Microsoft Yahei;color:#74787E"> 请及时完成注册 </p>
    <p style="font-size: 12px; position: relative; left: 75%;font-family:Microsoft Yahei;color:#74787E"> 微知灼识团队 </p>
    {% comment %} <img style="width: 100%;" src="https://feiniao-1257399587.cos.ap-beijing.myqcloud.com/email-background.png" alt="logo"> {% endcomment %}
  </div>
</body>
</html>